.features-boxed {
    color: #313437;
    background-color: #0e232e;
}
    .features-boxed .item .box {
        text-align: center;
        padding: 30px;
        background-color: #fff;
        margin-bottom: 30px;
    }
    .features-boxed .features {
        padding: 50px 0;
    }

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.jumbotron {
    padding: 0.3rem;
    margin-bottom: 2rem;
    margin: 0.5rem;
    background-color: #0e232e;
    border-radius: .7rem;
}

img {
    vertical-align: middle;
    border-style: initial;
    border-color: white;
    border: 3px solid #fefefe;
    margin: 1rem;
    margin-left: 2rem;
    width:250px;
    height:370px;
}

h1 {
    display: inline;
    margin-left: 2rem;
    color: #fefefe;
}

h3 {
    color: #fefefe;
}

button {
    margin: 1rem;
  
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0rem;
    box-shadow: 10px 3px 20px -1px rgba(0,0,0,0.22);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
/* Login page*/
.login-dark {
    height: 700px;
    background: #475d62 url(star-sky.jpg);
    background-size: cover;
    position: relative;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.login-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

















