<!--This Stopwatch gadget is created by the GitHub user paullaros using HTML/CSS -->
<link href="~/css/stopwatch.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/normalize.css" rel="stylesheet" />


<div class="col col-md-6 mb-3 mt-3 ">
    <div id="start">
        <h4>Stopwatch</h4>
        <div id="counter">
            <div id="hours" class="unit"></div>
            <div class="divider">:</div>
            <div id="minutes" class="unit"></div>
            <div class="divider">:</div>
            <div id="seconds" class="unit"></div>
            <div class="divider">:</div>
            <div id="centiseconds" class="unit"></div>
        </div>
      
        <div id="actions">
            <a href="#start" class="btn"><i class="fa fa-play"></i></a>
            <a href="#paused" class="btn"><i class="fa fa-pause"></i></a>
            <a href="" class="btn"><i class="fa fa-stop"></i></a>
        </div>
    </div>
</div>
