@{
    ViewData["Title"] = "About";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome to VIVACE STUDIO!</h1>
        <br /><br />
        <p class="text-white">This application designed for music schools students to help them in their daily activities.
        It's a perfect tool that provides better communications between students, improves quality
        of music studies, and increases effectiveness of home practices. Vivace Studio can be integrated
        with the music schools web sites, so the application can be successfully used by students
        and instructors.</p>
    </div>
</div>
