@{
    ViewData["Title"] = "Home Page";
}

    <div class="features-boxed">
        <div class="container">
            <div class="intro"></div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <i class="fa fa-comments fa-2x mb-3" aria-hidden="true"></i>
                        <h2 class="text-center name">Chatting Room</h2>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        <a class="learn-more" asp-controller="Home" asp-action="Chat">Open  »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <i class="fas fa-clock fa-2x mb-3"></i>
                        <h2 class="text-center name">Practice Log </h2>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        <a class="learn-more" asp-controller="Home" asp-action="PracticeLog">Open »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <i class="fas fa-user icon fa-2x mb-3"></i>
                        <h2 class="text-center name">My Profile</h2>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        <a class="learn-more" asp-controller="Profile" asp-action="PersonalInfo"> Open »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
