

@{
    ViewData["Title"] = "Personal Card";
}

    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                    <button asp-controller="Profile" asp-action="PersonalInfo"
                            class="close text-right text-white d-none d-sm-inline d-md-none d-lg-none d-xl-none">
              
                        <span aria-hidden="true">×</span>
                    </button>
                    <img src="crow.png" /></div>
                    <div class="col-sm-12 col-md-6 col-lg-8 text-center">
                        <div class="row">
                            <div class="col"><button class="close text-right text-white d-none d-sm-none d-md-inline d-lg-inline d-xl-inline"><span aria-hidden="true">×</span></button></div>
                        </div>
                        <div>
                            <h1 class="text-center" style="padding: 0;">Aliaksandra Hrechka</h1>
                        </div>
                        <div>
                            <h3>Student</h3>
                        </div>
                        <div class="form-group">
                            <button type="Submit" class="btn btn-primary">Message</button>
                            <a asp-action="" class="btn btn-primary">Email</a>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Bio</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br />Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                        odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br /><br />Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
                        id elit non mi porta gravida at eget metus.<br /><br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">School</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Harmony School of Music</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Instrument</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Guitar</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Classes</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Guitar, Piano, Orchestra</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Age</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Hidden</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Phone Number</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">(303) 223 3333</p>
                </div>
            </div>
        </div>
    </div>

