@model User

@{
    Layout = "_ProfileLayout";
}


    <div class="col-9">
        <h4>
            Personal Info:
            <span>
                <a asp-action="Card" asp-route-id="@Model.UserID"
                   class="btn btn-info btn-md text-justify action-button ml-5">
                    View my Personal Card
                </a>
            </span>
        </h4><br />
        <form asp-action="SavePersonalInfo" method="post">
            <div class="form-group">
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name:</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth">Date of Birth:</label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="formCheck-1" checked />
                    <label class="form-check-label" for="formCheck-1">Display on Personal Card</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Bio">Bio:</label>
                <textarea asp-for="Bio" class="form-control" placeholder="Enter your short bio..." rows="8"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Address">Address:</label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Phone">Phone:</label>
                <input asp-for="Phone" class="form-control" />
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="formCheck-1" checked />
                    <label class="form-check-label" for="formCheck-1">Display on Personal Card</label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserID" />
                <input type="hidden" asp-for="StudentNumber" />
                <input type="hidden" asp-for="MyClasses" />
                <input type="hidden" asp-for="SchoolID" />
                <input type="hidden" asp-for="InstrumentID" />
                <input type="hidden" asp-for="TeacherID" />

                <button type="Submit" class="btn btn-primary">Save</button>
                <a asp-action="PersonalInfo" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>