@model User


@{
    Layout = "_ProfileLayout";
}


    <div class=" col-9">
        <h4>School Info:</h4>
        <br />
        <form asp-action="Save" method="post">
            <div class="form-group">
                <label asp-for="StudentNumber">Student Number:</label>
                <div class="col-sm-8">
                    <input asp-for="StudentNumber" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SchoolID">Choose your school:</label>
                <div class="col-sm-8">
                    <select asp-for="SchoolID"
                            asp-items="@(new SelectList(ViewBag.Schools,
                               "SchoolID", "SchoolName", Model.SchoolID))"
                            class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="InstrumentID">Choose your instrument:</label>
                <div class="col-sm-8">
                    <select asp-for="InstrumentID"
                            asp-items="@(new SelectList(ViewBag.Instruments,
                                 "InstrumentID", "InstrumentName", Model.InstrumentID))"
                            class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TeacherID">Choose your teacher:</label>
                <div class="col-sm-8">
                    <select asp-for="TeacherID"
                            asp-items="@(new SelectList(ViewBag.Teachers,
                                "TeacherID", "FullName", Model.TeacherID))"
                            class="form-control">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MyClasses">List your classes:</label>
                <div class="col-sm-8">
                    <input asp-for="MyClasses" class="form-control" />
                </div>
            </div>

                <div class="form-group">
                    <!-- <input type="hidden"  />-->
                    <button type="Submit" class="btn btn-primary">Save</button>
                    <a asp-action="SchoolInfo" class="btn btn-primary">Cancel</a>
                </div>
</form>
</div>
